* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    background: #4f46e5;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.header button {
    margin-top: 20px;
    padding: 10px 25px;
    border: none;
    background: white;
    color: #9691fa;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

/* Features */
.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    background: #f8bcbc;
}

.box {
    background: white;
    padding: 20px;
    width: 250px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background: #111827;
    color: white;
}
